appdirs==1.4.3
astroid==2.3.3
attrs==18.1.0
backcall==0.1.0
beautifulsoup4==4.8.2
boltiot==1.11.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
ConfigArgParse==1.2.3
cycler==0.10.0
Cython==0.29.14
decorator==4.4.1
distlib==0.3.0
docopt==0.6.2
et-xmlfile==1.0.1
filelock==3.0.12
fpdf==1.7.2
future==0.18.2
idna==2.8
ipython==7.12.0
ipython-genutils==0.2.0
iso8601==0.1.12
isort==4.3.21
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.2
keyring==21.4.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
MouseInfo==0.1.2
numpy==1.17.3
opencv-python==4.4.0.44
openpyxl==3.0.3
pandas==0.25.3
parso==0.6.0
pickleshare==0.7.5
Pillow==6.2.1
prettytable==1.0.1
prompt-toolkit==3.0.3
pyasn1==0.4.8
PyAutoGUI==0.9.48
pydocs==0.2
PyGetWindow==0.0.8
Pygments==2.5.2
PyJWT==1.7.1
pylint==2.4.4
PyMsgBox==1.0.7
pyparsing==2.4.2
pyperclip==1.7.0
pyreadline==2.1
PyRect==0.1.4
PyScreeze==0.1.26
pyserial==3.4
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.22.0
serial==0.0.97
six==1.12.0
soupsieve==2.0
traitlets==4.3.3
twilio==6.35.3
urllib3==1.25.7
virtualenv==20.0.9
wcwidth==0.1.8
wordcloud==1.5.0
wrapt==1.11.2
